@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailForm{
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 50em;
  border-radius: 1em;
  padding: 1em;
}
.header {
  background-size: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-image: url(../assets/images/illustration-sign-up-desktop.svg);
  border-radius: 1em;
  padding: 0;
  height: auto;
}
.contentWrapper{
  padding: 1.5em;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
  gap: .7em;
}
.contentWrapper p{
  font-size: .8em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
ul{
  list-style: none;
}
ul li{
  display: flex;
  height: 2.5em;
  align-items: center;
  font-size: .8em;
  gap: 1em;
  margin-bottom: 1em;
}
label{
  font-weight: 700;
  font-size: .6em;
  display: block;
}
input{
  margin: .3em;
  padding: .8em;
  padding-left: 1em;
  width: 95%;
  border-radius: .4em;
  margin-bottom: 1em;
  outline: hsl(231, 7%, 60%) 1px solid;
}
button{
  margin: .3em;
  width: 95%;
  padding: 1em;
  border: 0;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: 700;
  border-radius: .4em;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 300ms ease-in-out;
}

button:hover{
  background-color: hsl(233, 27%, 25%);
}
.thanksPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25em;
  width: 30em;
  padding: 3em;
  background-color: white;
  border-radius: 1em;
}
.thanksPage img{
  display: block;
  width: 4em;
}
.thanksPage div{
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media (max-width: 375px) {
  body {
    background-color: white;
    
  }

  .header {
    height: 15em;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../assets/images/illustration-sign-up-mobile.svg);
    border-radius: 1em;
    padding: 0;

  }
  .emailForm{
    display: contents;
    background-color: white;
    width: auto;
    border-radius: 0;
    padding: 0;
  }
  .contentWrapper{
    padding: 1.5em;
    background-color: white;
    height: auto;
    width: auto;
    gap: 0;
  }
  .contentWrapper p{
    font-size: .8em;
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
  ul{
    list-style: none;
  }
  ul li{
    display: flex;
    height: 2.5em;
    align-items: center;
    font-size: .8em;
    gap: 1em;
    margin-bottom: 1em;
  }
  label{
    font-weight: 700;
    font-size: .6em;
    display: block;
  }
  input{
    margin: .3em;
    padding: .8em;
    padding-left: 1em;
    width: 95%;
    border-radius: .4em;
    margin-bottom: 1em;
    outline: hsl(231, 7%, 60%) 1px solid;
  }
  button{
    margin: .3em;
    width: 95%;
    padding: 1em;
    border: 0;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: 700;
    border-radius: .4em;
    
  }
  button:active{
    background-color: hsl(236, 14%, 41%);
    transition: 1s ease-in-out all;
  }
  .thanksPage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40em;
    padding: 2em 1em;
    width: auto;
    
  }
  .thanksPage img{
    display: block;
    width: 4em;
  }
  .thanksPage div{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
