@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 66%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --dark-violet0: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  height: 100vh;
  width: auto;
  background: url("../images/bg-main-desktop.png") no-repeat, white;
  background-size: 35% 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 45%;
}

.front {
  background: url("../images/bg-card-front.png") no-repeat;
  background-size: 100% 100%;
  height: 18em;
  width: 32em;
  box-shadow: 2px 3px 19px -8px rgba(0, 0, 0, 0.75);
  border-radius: 1em;
  color: white;
  padding: 3em;
}

.frontTop {
  margin-bottom: 4em;
}

.frontNumber {
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 2em;
}

.frontBottom {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.1em;
}

.frontName {
  text-transform: uppercase;
}

.back {
  background: url("../images/bg-card-back.png") no-repeat;
  background-size: 100% 100%;
  height: 18em;
  width: 32em;
  box-shadow: 2px 3px 19px -8px rgba(0, 0, 0, 0.75);
  border-radius: 1em;
  color: white;
  padding: 0 4em;
  margin-left: 8em;
  display: flex;
  justify-content: end;
  align-items: center;
  letter-spacing: 0.2em;
}

.form {
  display: flex;
  height: 100%;
  gap: 3em;
  flex-direction: column;
  justify-content: center;
}

.nameForm,
.numberForm {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1.2em;
  width: 26em;
  padding: 0.6em;
  border-radius: 0.6em;
  border: 1px solid var(--light-violet);
  outline-color: var(--dark-violet);
}

input::placeholder {
  color: var(--light-violet);
  font-size: 0.9em;
}

input:focus {
  outline-color: var(--dark-violet);
}

label {
  color: var(--dark-violet0);
  font-weight: 700;
  letter-spacing: 0.3em;
  font-size: 0.8em;
}

.bottom {
  display: flex;
  gap: 3em;
}

.inputs input {
  width: 6em;
}

.cvc input {
  width: 11em;
}

button {
  font-size: 1.2em;
  height: 3em;
  border: 0;
  border-radius: 0.5em;
  background-color: var(--dark-violet0);
  color: white;
  cursor: pointer;
}

/* <div class="form">
  <label for="inputName">CARDHOLDER NAME</label>
  <input type="text" class="inputName" id="inputName" placeholder="e.g. Jane Appleseed">

  <label for="inputNumber"></label>
  <input type="text" class="inputNumber" id="inputNumber" placeholder="e.g. 1234 5678 9123 0000">

  <div class="bottom">
    <div class="date">
      <p>EXP. DATE (MM/YY)</p>
      <div class="inputs">
        <input type="text" placeholder="MM" class="inputMonth" id="inputMonth">
        <input type="text" placeholder="YY" class="inputYear" id="inputYear ">
      </div>
    </div>
    <div class="cvc"><input type="text" class="inputSecurity" id="inputSecurity" placeholder="e.g. 123"></div>
    
  </div>
</div> */
